In [1]:
import pandas as pd

In [2]:
people={
    "name":["aniket","hitesh","sagar","abhay"],
    "age":["2","4","5","6"],
    "email":["aniket@gmail.com","hitesh@gmail.com","sagar@gmail.com","abhay@gmail.com"]
}

In [3]:
people['email']

['aniket@gmail.com', 'hitesh@gmail.com', 'sagar@gmail.com', 'abhay@gmail.com']

In [4]:
df=pd.DataFrame(people)

In [5]:
df

     name age             email
0  aniket   2  aniket@gmail.com
1  hitesh   4  hitesh@gmail.com
2   sagar   5   sagar@gmail.com
3   abhay   6   abhay@gmail.com

In [6]:
df.email

0    aniket@gmail.com
1    hitesh@gmail.com
2     sagar@gmail.com
3     abhay@gmail.com
Name: email, dtype: object

In [7]:
df[["name",'email']]

     name             email
0  aniket  aniket@gmail.com
1  hitesh  hitesh@gmail.com
2   sagar   sagar@gmail.com
3   abhay   abhay@gmail.com

In [8]:
df.columns

Index(['name', 'age', 'email'], dtype='object')

In [9]:
df.iloc[0]

name               aniket
age                     2
email    aniket@gmail.com
Name: 0, dtype: object

In [10]:
df.iloc[[0,1]]

     name age             email
0  aniket   2  aniket@gmail.com
1  hitesh   4  hitesh@gmail.com

In [11]:
df.iloc[[0,1],2]

0    aniket@gmail.com
1    hitesh@gmail.com
Name: email, dtype: object

In [12]:
df.loc[0]

name               aniket
age                     2
email    aniket@gmail.com
Name: 0, dtype: object

In [13]:
df.loc[[0,1]]

     name age             email
0  aniket   2  aniket@gmail.com
1  hitesh   4  hitesh@gmail.com

In [14]:
df.loc[[0,1],{'email',"age"}]

  age             email
0   2  aniket@gmail.com
1   4  hitesh@gmail.com

In [15]:
df['email']

0    aniket@gmail.com
1    hitesh@gmail.com
2     sagar@gmail.com
3     abhay@gmail.com
Name: email, dtype: object

In [16]:
df.set_index("email")

                    name age
email
aniket@gmail.com  aniket   2
hitesh@gmail.com  hitesh   4
sagar@gmail.com    sagar   5
abhay@gmail.com    abhay   6

In [17]:
df

     name age             email
0  aniket   2  aniket@gmail.com
1  hitesh   4  hitesh@gmail.com
2   sagar   5   sagar@gmail.com
3   abhay   6   abhay@gmail.com

In [18]:
df.set_index('email',inplace=True)

In [19]:
df

                    name age
email
aniket@gmail.com  aniket   2
hitesh@gmail.com  hitesh   4
sagar@gmail.com    sagar   5
abhay@gmail.com    abhay   6

In [20]:
df.index

Index(['aniket@gmail.com', 'hitesh@gmail.com', 'sagar@gmail.com',
       'abhay@gmail.com'],
      dtype='object', name='email')

In [21]:
df.loc['aniket@gmail.com']

name    aniket
age          2
Name: aniket@gmail.com, dtype: object

In [22]:
df.iloc[2]

name    sagar
age         5
Name: sagar@gmail.com, dtype: object

In [23]:
df.reset_index(inplace=True)

In [24]:
df

              email    name age
0  aniket@gmail.com  aniket   2
1  hitesh@gmail.com  hitesh   4
2   sagar@gmail.com   sagar   5
3   abhay@gmail.com   abhay   6

In [26]:
df['age']=="2"

0     True
1    False
2    False
3    False
Name: age, dtype: bool

In [27]:
filt=df['age']=='2'

In [29]:
df[filt]

              email    name age
0  aniket@gmail.com  aniket   2

In [30]:
df.loc[filt,'email']

0    aniket@gmail.com
Name: email, dtype: object

In [33]:
filt=(df['age']=='4') & (df['name']=='hitesh')

In [34]:
df[filt]

              email    name age
1  hitesh@gmail.com  hitesh   4

In [41]:
filt=(df['age']=="2") | (df['name']=='sagar')

In [42]:
filt

0     True
1    False
2     True
3    False
dtype: bool

In [43]:
df[filt]

              email    name age
0  aniket@gmail.com  aniket   2
2   sagar@gmail.com   sagar   5